body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/* Contenedor del video */
.contenedor-video{
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border: 3px solid #0078D7;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    text-align: center;
}

/* Título */
.contenedor-video h1{
    color: #0078D7;
}
/* Video */
.contenedor-video video{
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
} 